html {
  font-family: helvetica;
  background: #FBFEFB;
}

header {
  font-family: helvetica;
}

#left {
  width: 48%;
  height: 80%;
  float:left;
  text-align: center;
  background: #FBFEFB;
}

#invitetypes {
  border-bottom: 1px solid black;
}

#invitetypes div {
  display: inline-block;
  padding: 20px 10% 20px 10%;
}

#form {
  padding-top: 20px;
  font-family: arial;
}

#right {
  width: 48%;
  height: 80%;
  float:right;
  background: #FBFEFB;
  align-content: center;
  padding-top: 50px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  color: white;
  font-family: courier;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
}

#addnameone {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: courier;
}

#addnametwo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: courier;
}

#addlastname {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: courier;
}

#adddate {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: courier;
}

#location {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: courier;
}

@media screen and (max-width : 800px)
{
  #left
  {
    width: 100%;
  }
  
  #right
  {
    width: 100%;
    clear: both;
    display:block;
  }
}

header {
  text-align: center;
  height: 10%;
  background:#CDDEEE;
  padding: 10px 0;
  font-family: 'helvetica';
}